<?xml version="1.0"?>
<robot name="humanoid" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- 包含结构 -->
  <xacro:include filename="robot_structure.urdf.xacro"/>
  
  <!-- 包含 ROS2 Control 配置 -->
  <xacro:include filename="robot_ros2_control.xacro"/>
  <xacro:robot_ros2_control/>
  
  <!-- 包含 Gazebo 配置 -->
  <xacro:include filename="robot_gazebo.xacro"/>
  <xacro:robot_gazebo/>
</robot>
